@import "../common/common";
div, ul, li {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.row1 {
    margin-top: -70px;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 41px;
}
.subject-box {
    margin-top: 26px;
    .subject-list {
      position: relative;
      li {
          float: left;
          margin-right: 40px;
          input[type='radio'] {
              background: #CB171D;
          }
          label {
              margin-left: 9px;
              margin-top: 7px;
        }
      }
    }
}
.subject-require {
    margin-top: 70px;
    font-size: 14px;
    color: #4A4A4A;
    clear: both;
}
.plan-to-enroll {
    margin-top: 18px;
    margin-left: 6px;
    li {
        float: left;
        margin-right: 74px;
        font-size: 14px;
        color: #4A4A4A;
    }
    li::before {
        display: inline-block;
        content: '';
        width: 5px;
        height: 5px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        position: relative;
        top: -4px;
        right: 6px;
        background: #4A4A4A;
    }
}
.plan-analysis {
    height: 250px;
    clear: both;
    margin-top: 80px;
    position: relative;
    .batch-analysis {
        width: 519px;
        height: 100%;
        float: left;
    }
    .major-type-analysis {
        width: -webkit-calc(100% - 519px);
        width: -moz-calc(100% - 519px);
        width: calc(100% - 519px);
        height: 100%;
        float: left;
        border-left: 1px solid #d8d8d8;
        position: relative;
        #major-type-count {
            display: inline-block;
            position: absolute;
            left: 40px;
            bottom: 6px;
        }
        .major-type-box {
            width: 476px;
            position: absolute;
            left: 220px;
            top: 30px;
            .major-type-top, .major-type-bottom {
                width: 100%;
                border: 1px solid #E0E3E8;
                border-top: 0;
                font-size: 14px;
                color: #4A4A4A;
                thead {
                    background: #F2F4F6;
                    line-height: 42px;
                    tr {
                        th {
                            text-align: center;
                            vertical-align: middle;
                            border-right: 1px solid #E0E3E8;
                            border-bottom: 1px solid #E0E3E8;
                        }
                    }
                }
                tbody {
                    line-height: 42px;
                    tr {
                        td {
                            width: 63px;
                            text-align: center;
                            vertical-align: middle;
                            border-right: 1px solid #E0E3E8;
                            border-bottom: 1px solid #E0E3E8;
                        }
                    }
                }
            }
        }
    }
}
.plan-enroll {
    height: 280px;
    clear: both;
    margin-top: 37px;
    position: relative;
    .university-total {
        width: 440px;
        height: 100%;
        float: left;
    }
    .plan-total {
        width: -webkit-calc(100% - 440px);
        width: -moz-calc(100% - 440px);
        width: calc(100% - 440px);
        height: 100%;
        float: left;
        position: relative;
    }
}
.history-enroll-data {
    padding-top: 28px;
    margin-bottom: 50px;
    .title {
        font-size: 14px;
        color: #4A4A4A;
    }
    .history-enroll-table {
        width: 100%;
        margin-top: 17px;
        border: 1px solid #E0E3E8;
        thead {
            line-height: 38px;
            background: #F2F4F6;
            tr {
                th {
                    border-right: 1px solid #E0E3E8;
                    border-bottom: 1px solid #E0E3E8;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
        tbody {
            line-height: 38px;
            tr {
                td {
                    text-align: center;
                    vertical-align: middle;
                    border-right: 1px solid #E0E3E8;
                    border-bottom: 1px solid #E0E3E8;
                    font-size: 14px;
                    color: #4A4A4A;
                }
            }
        }
    }
}
.search-condition {
    margin: 16px 0 15px 0;
    text-align: center;
    input[type='text'] {
        width: 268px;
        height: 28px;
        border: 1px solid #D5D9DF;
        border-radius: 2px;
    }
    select, select:focus {
        width: 124px;
        height: 28px;
        margin: 0 7px 0 6px;
        outline: 0;
        background: #FFFFFF;
        border: 1px solid #D5D9DF;
        border-radius: 2px;
    }
    button {
        position: relative;
        left: 3px;
        top: -2px;
    }
    #results-list {
        display: none;
        width: 268px;
        position: absolute;
        left: 100px;
        top: 44px;
        height: auto;
        border: solid 2px #DDDDDD;
        overflow: hidden;
        background-color: #FFFFFF;
        box-sizing: border-box;
        z-index: 1000;
        li {
            text-align: left;
            border: solid 1px rgba(0, 0, 0, 0);
            border-width: 1px 10px;
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            border-bottom: 1px solid #EEEEEE;
            overflow: hidden;
        }
        .active {
            color: #d80c18;
        }
    }
}
.results-table {
    width: 94%;
    margin: 0 auto;
    border: 1px solid #E0E3E8;
    font-size: 12px;
    color: #4A4A4A;
    height: 300px;
    overflow: scroll;
    thead {
        background: #F2F4F6;
        height: 40px;
        line-height: 40px;
        tr {
            th {
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
                border-bottom: 1px solid #E0E3E8;
                font-weight: bold;
                line-height: 18px;
            }
            th:last-of-type {
                border-right: 0;
            }
        }
    }
    tbody {
        line-height: 28px;
        tr {
            td {
                line-height: 1.3em;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
                border-bottom: 1px solid #E0E3E8;
            }
        }
    }
}
.layer-anim {
    overflow-y: hidden;
}
.red-btn, .red-btn:focus, .red-btn:hover {
    width: 74px;
    height: 28px;
    background: #CB171D;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    border: 0;
    outline: 0;
}
a.red-link:link,
a.red-link:visited,
a.red-link:hover {
    font-size: 14px;
    color: #CB171D;
    outline: 0;
    text-decoration: underline;
}
.pagination-bar {
    .pagination-info {
        display: inline-block;
        float: left;
        margin-top: 40px;
        margin-left: 28px;
        text-align: center;
        font-size: 14px;
        color: #9B9B9B;
    }
    .pagination {
        display: inline-block;
        float: right;
        margin-top: 40px;
        margin-right: 14px;
        text-align: center;
        a:link,
        a:visited,
        a:hover {
            padding: 6px 8px 6px 8px;
            margin-right: 10px !important;
            font-size: 14px;
            color: #575757;
            letter-spacing: -0.66px;
            border: 1px solid #ddd;
            background: #EFF2F5;
            border-radius: 2px;
            text-decoration: none;
            outline: 0;
        }
        a.pageNum {
            cursor: auto;
            color: #9B9B9B;
            background: #fff;
        }
        .disabled {
            //padding: 9px 15px 10px 15px;
            padding: 6px 8px 6px 8px;
            margin-right: 10px !important;
            font-size: 14px;
            letter-spacing: -0.66px;
            border-radius: 2px;
            color: #ccc;
            border: 1px solid #ddd;
            background: #EFF2F5;
        }
        span {
            margin-right: 10px !important;
        }
        .current {
            padding: 6px 8px 6px 8px;
            margin-right: 10px !important;
            font-size: 14px;
            letter-spacing: -0.66px;
            border-radius: 2px;
            color: #fff;
            background: #D80C18;
            border: 1px solid #D80C18;
        }
        a:last-of-type {
            margin-left: 10px !important;
        }
    }
}



.history-subject-situation {
    position: relative;
    #subjectCourseBar {
        display: inline-block;
        margin-top: 14px;
    }
    .subject-chk {
        display: inline-block;
        position: absolute;
        right: 140px;
        top: 52px;
        line-height: 26.0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        li {
            font-size: 14px;
            color: #4A4A4A;
            label {
                position: relative;
                top: 3px;
                left: 22px;
                i {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                    border-radius: 2px;
                }
                .jishu {
                    background: #64A3AD;
                }
                .zhengzhi {
                    background: #91D8E4;
                }
                .lishi {
                    background: #87B3E7;
                }
                .dili {
                    background: #A2D86A;
                }
                .shengwu {
                    background: #FFB789;
                }
                .huaxue {
                    background: #F5A623;
                }
                .wuli {
                    background: #A25E51;
                }
            }
        }
    }
}
.title-tips {
    margin-left: 15px;
    font-size: 14px;
    color: #9B9B9B;
}
.course-bar-tips {
    font-size: 14px;
    color: #9B9B9B;
    margin-top: 15px;
}
.course-bar-analyse {
    font-size: 14px;
    color: #4A4A4A;
    margin-top: 24px;
}
.course-bar-analyse-results {
    margin-top: 13px;
    li {
        float: left;
        margin-right: 40px;
        font-size: 14px;
        color: #000000;
        line-height: 32px;
        .span-wuli {
            color: #A25E51;
        }
        .span-huaxue {
            color: #F5A623;
        }
        .span-shengwu {
            color: #FFB789;
        }
        .span-zhengzhi {
            color: #91D8E4;
        }
        .span-lishi {
            color: #87B3E8;
        }
        .span-dili {
            color: #A2D96A;
        }
        .span-jishu {
            color: #64A3AD;
        }
    }
}

.webkSubject {
    .weakSubjectChart {
        display: inline-block;
        width: 19.7%;
        height: 280px;
    }
    .weakSubjectBottom {
        text-align: center;
        ul {
            display: inline-block;
            li {
                float: left;
                font-size: 14px;
                color: #4A4A4A;
                margin-right: 34px;
                i {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                    border-radius: 2px;
                }
                .jishu {
                    background: #64A3AD;
                }
                .zhengzhi {
                    background: #91D8E4;
                }
                .lishi {
                    background: #87B3E7;
                }
                .dili {
                    background: #A2D86A;
                }
                .shengwu {
                    background: #FFB789;
                }
                .huaxue {
                    background: #F5A623;
                }
                .wuli {
                    background: #A25E51;
                }
            }
        }
    }
    .weak-subject-analyse {
        font-size: 14px;
        color: #4A4A4A;
    }
    .weak-subject-analyse-results {
        margin-top: 13px;
        li {
            float: left;
            margin-right: 13px;
            font-size: 14px;
            color: #4A4A4A;
            line-height: 32px;
            .span-wuli {
                color: #A25E51;
            }
            .span-huaxue {
                color: #F5A623;
            }
            .span-shengwu {
                color: #FFB789;
            }
            .span-zhengzhi {
                color: #91D8E4;
            }
            .span-lishi {
                color: #87B3E8;
            }
            .span-dili {
                color: #A2D96A;
            }
            .span-jishu {
                color: #64A3AD;
            }
        }
    }
}

.enrolling-plan-radio-group,
.teacher-configuration-radio-group {
    margin-top: 20px;
    li {
        float: left;
        margin-right: 40px;
        font-size: 14px;
        color: #4A4A4A;
        label {
            position: relative;
            top: 3px;
            left: 9px;
        }
    }
}
.enrolling-plan-radio-group::after,
.teacher-configuration-radio-group::after {
    display: table;
    content: " ";
    clear: both;
}
.plan-table-title {
    margin-top: 20px;
    font-size: 14px;
    color: #4A4A4A;
}
.plan-table, .teacher-config-table {
    width: 100%;
    border: 1px solid #E0E3E8;
    margin-top: 14px;
    thead {
        background: #F2F4F6;
        tr {
            th {
                height: 38px;
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
            }
            th:last-of-type {
                border-right: 0;
            }
        }
    }
    tbody {
        tr {
            td {
                height: 38px;
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
                border-bottom: 1px solid #E0E3E8;
                a.config-btn:link,
                a.config-btn:visited,
                a.config-btn {
                    color: #CB171D;
                    text-decoration: underline;
                    outline: 0;
                }
                .rank-top1, .rank-top2, .rank-top3 {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 9px;
                    position: relative;
                    top: 3px;
                }
                .rank-top1 {
                    background: url('../../img/icon_top1.png') no-repeat;
                }
                .rank-top2 {
                    background: url('../../img/icon_top2.png') no-repeat;
                }
                .rank-top3 {
                    background: url('../../img/icon_top3.png') no-repeat;
                }
            }
            td:last-of-type {
                border-right: 0;
            }
        }
        tr:last-of-type td {
            border-bottom: 0;
        }
    }
}

.no-data-tips {
    display: none;
    margin-top: 100px;
    text-align: center;
    i {
        display: inline-block;
        width: 195px;
        height: 142px;
        background: url('../../img/icon_no_data.png') no-repeat;
    }
    p {
        width: 380px;
        height: 66px;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        color: #4A4A4A;
        letter-spacing: 0.1px;
        line-height: 32px;
    }
}

.row-last {
    margin-bottom: 100px;
}

.teacher-config-box {
    padding: 14px 15px 21px 20px;
    table {
        width: 100%;
        border: 1px solid #E0E3E8;
        thead {
            background: #F2F4F6;
            tr {
                th {
                    height: 38px;
                    text-align: center;
                    vertical-align: middle;
                    border-right: 1px solid #E0E3E8;
                    border-bottom: 1px solid #E0E3E8;
                }
                th:last-of-type {
                    border-right: 0;
                }
            }
        }
        tbody {
            tr {
                td {
                    height: 38px;
                    text-align: center;
                    vertical-align: middle;
                    border-right: 1px solid #E0E3E8;
                    border-bottom: 1px solid #E0E3E8;
                }
                td:last-of-type {
                    border-right: 0;
                }
            }
            tr:last-of-type td {
                border-bottom: 0;
            }
        }
    }
}
