.enroll-total {
    height: 280px;
    clear: both;
    margin-top: 37px;
    position: relative;
    .enroll-university-total {
        width: 440px;
        height: 100%;
        float: left;
    }
    .enroll-plan-total {
        width: -webkit-calc(100% - 440px);
        width: -moz-calc(100% - 440px);
        width: calc(100% - 440px);
        height: 100%;
        float: left;
        position: relative;
    }
}
.enroll-university-detail-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
    border: 1px solid #E0E3E8;
    font-size: 14px;
    color: #4A4A4A;
    thead {
        line-height: 38px;
        background: #F2F4F6;
        tr {
            th {
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
                border-bottom: 1px solid #E0E3E8;
            }
        }
    }
    tbody {
        line-height: 38px;
        tr {
            td {
                text-align: center;
                vertical-align: middle;
                border-right: 1px solid #E0E3E8;
                border-bottom: 1px solid #E0E3E8;
            }
        }
    }
}

.pagination-bar {
    .pagination-info {
        display: inline-block;
        float: left;
        margin-top: 40px;
        margin-left: 28px;
        text-align: center;
        font-size: 14px;
        color: #9B9B9B;
    }
    .pagination {
        display: inline-block;
        float: right;
        margin-top: 40px;
        margin-right: 14px;
        text-align: center;
        a:link,
        a:visited,
        a:hover {
            padding: 9px 15px 10px 15px;
            margin-right: 10px !important;
            font-size: 14px;
            color: #575757;
            letter-spacing: -0.66px;
            border: 1px solid #ddd;
            background: #EFF2F5;
            border-radius: 2px;
            text-decoration: none;
            outline: 0;
        }
        a.pageNum {
            cursor: auto;
            color: #9B9B9B;
            background: #fff;
        }
        .disabled {
            padding: 9px 15px 10px 15px;
            margin-right: 10px !important;
            font-size: 14px;
            letter-spacing: -0.66px;
            border-radius: 2px;
            color: #ccc;
            border: 1px solid #ddd;
            background: #EFF2F5;
        }
        span {
            margin-right: 10px !important;
        }
        .current {
            padding: 9px 15px 10px 15px;
            margin-right: 10px !important;
            font-size: 14px;
            letter-spacing: -0.66px;
            border-radius: 2px;
            color: #fff;
            background: #D80C18;
            border: 1px solid #D80C18;
        }
        a:last-of-type {
            margin-left: 10px !important;
        }
    }
}