@import "../common/common";

//step comm
.mt15 {
  margin-top: 15px;
}

.table {
  border: 1px solid #ddd !important;
  tbody > tr > td {
    border: 1px solid #ddd !important;
  }
}

.course-scheduling-base {
  margin-top: 35px;
  margin-bottom: 35px;
  .procedure {
    .gap {
      display: inline-block;
      letter-spacing: 10px;
      i {
        display: inline-block;
        width: 5px;
        height: 5px;
        background: #D5D9DF;
        margin-left: 8px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        position: relative;
        top: -3px;
      }
      i:last-of-type {
        margin-right: 8px;
      }
    }
    a:link,
    a:visited,
    a:hover {
      display: inline-block;
      width: 122px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: #CB171D;
      border-radius: 4px;
      font-size: 14px;
      color: #FFFFFF;
      text-decoration: none;
      outline: 0;
      i {
        font-style: normal;
        position: relative;
        left: -6px;
        top: 1px;
      }
    }
    a.disabled {
      font-size: 14px;
      color: #B1B5BC;
      background: #fff;
      border: 1px solid #B1B5BC;
      border-radius: 4px;
      //cursor: not-allowed;
    }
  }
}

//=================================

#page-container {
  $parentMargin: 100px auto;
  .btn-one-key {
    margin: $parentMargin;
    width: 170px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
    color: #cb171d;
    border: 1px solid #cb171d;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    transition: all .3s ease-out;
    &:hover {
      background: $mainColor;
      color: #fff;
    }
  }
  .info-modify {
    text-align: center;
    margin: $parentMargin;
    .retry-scheduling, .look-origin-schedule {
      width: 100px;
      height: 34px;
      border-radius: 2px;
      text-align: center;
      line-height: 34px;
      float: left;
      cursor: pointer;
      transition: all .3s ease-out;
    }
    .retry-scheduling {
      margin-left: 489px;
      margin-right: 29px;
      color: $mainColor;
      border: 1px solid $mainColor;
      &:hover {
        background: $mainColor;
        color: #fff;
      }
    }
    .look-origin-schedule {
      color: #F6A623;
      border: 1px solid #F6A623;
      &:hover {
        background: #F6A623;
        color: #fff;
      }
    }

  }
  .scheduling-error {
    margin: $parentMargin;
    text-align: center;
    .icon-cry-face {
      margin-bottom: 20px;
    }
  }
}
#role-scheduling-tab {
  .role-tab {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: $stepGrey;
    .active {
      color: $mainColor;
      .icon-step3-class-yes,
      .icon-step3-std-yes,
      .icon-step3-teacher-yes,
      .icon-step3-all-yes {
        display: inline-block;
      }
      .icon-step3-class-no,
      .icon-step3-std-no,
      .icon-step3-teacher-no,
      .icon-step3-all-no {
        display: none;
      }
    }
    li {
      cursor: pointer;
      float: left;
      &:before {
        margin: 0 15px;
        content: '|';
        display: block;
        color: #ccc;
        float: left;
      }
      i {
        position: relative;
        top: 5px;
        margin-right: 5px;
      }
      .icon-step3-class-yes,
      .icon-step3-std-yes,
      .icon-step3-teacher-yes,
      .icon-step3-all-yes {
        display: none;
      }
    }
    .no-before {
      &:before {
        margin: 0;
        content: '';
        display: block;
        float: left;
      }
    }
  }
}

.role-scheduling-content {
  .select-condition {
    margin: 20px 0 10px;
    select {
      min-width: 105px;
      margin-right: 17px;
    }
  }
  .scheduling-info {
    margin-bottom: 10px;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    .scheduling-name {
      font-size: 14px;
      font-weight: bold;
    }
    #output-tpl {
      width: 165px;
      background: #B085B9 !important;
      border-color: #B085B9 !important;
      outline: none;
    }
    .icon-output-down {
      display: inline-block !important;
    }
  }
}
p.tbody-item{
  border-bottom: 1px solid #ccc;
  margin: 0;
  height: 35px;
  line-height: 35px;
  text-align: center
}
.table tbody>tr>td.pm0{
  margin:0;
  padding:0;
}
.common-back-title{
  margin-top: 23px;
  a{
    display: inline-block;
    font-size: 12px;
    color: #CB171D;
    outline: 0;
    text-decoration: none;
    margin-right: 20px;
  }
}


/*
总课表
*/
.create-class-number{
  line-height: 36px;
  text-align: center;
  display: block;
  float: left;
  border-right: 1px solid #ccc;
}
.common-span-w{
  //min-width: 50px;
}
.no-p-m{
  padding: 0!important;
  margin: 0;
}

.arranging-course-tips{
  text-align: center;
  font-size:20px;
  height:34px;
  line-height:34px;
  width:80%;
  margin:0 auto;
  .progress{
    width:60%;
    margin:10px auto;
  }
}




//////////////////////////////////////////////////
//
//.wrapper {
//  width: 350px;
//  margin: 200px auto;
//}
//.wrapper p a {color:#757575; text-decoration:none;}
//.wrapper .load-bar { width: 100%; height: 10px; border-radius: 30px; background-color: #D9D9D9; position: relative; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 2px 3px rgba(0, 0, 0, 0.2); }
//.wrapper .load-bar:hover .load-bar-inner, .wrapper .load-bar:hover #counter {
//  animation-play-state: paused;
//  -moz-animation-play-state: paused;
//  -o-animation-play-state: paused;
//  -webkit-animation-play-state: paused;
//}
//.wrapper .load-bar-inner { height: 99%; width: 0%; border-radius: inherit; position: relative; background-color: #0096F5; animation: loader 10s linear infinite; -moz-animation: loader 10s linear infinite; -webkit-animation: loader 10s linear infinite; -o-animation: loader 10s linear infinite; }
//.wrapper #counter {
//  position: absolute;
//
//  padding: 5px 10px;
//  border-radius: 0.4em;
//  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),  0 2px 4px 1px rgba(0, 0, 0, 0.2),  0 1px 3px 1px rgba(0, 0, 0, 0.1);
//  left: -25px;
//  top: -35px;
//  font-size: 12px;
//  font-weight: bold;
//  width: 44px;
//  animation: counter 10s linear infinite;
//  -moz-animation: counter 10s linear infinite;
//  -webkit-animation: counter 10s linear infinite;
//  -o-animation: counter 10s linear infinite;
//}
//.wrapper #counter:after { content: ""; position: absolute; width: 8px; height: 8px; background-color: #E7E6E3; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); left: 50%; margin-left: -4px; bottom: -4px; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2),  1px 1px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 0 0 3px 0; }
//.wrapper h1 {
//  font-size: 28px;
//  padding: 20px 0 8px 0;
//}
//.wrapper p {
//  font-size: 13px;
//}
//@keyframes loader {
//  from {
//    width: 0%;
//  }
//  to {
//    width: 100%;
//  }
//}
//@-moz-keyframes loader {
//  from {
//    width: 0%;
//  }
//  to {
//    width: 100%;
//  }
//}
//@-webkit-keyframes loader {
//  from {
//    width: 0%;
//  }
//  to {
//    width: 100%;
//  }
//}
//@-o-keyframes loader {
//  from {
//    width: 0%;
//  }
//  to {
//    width: 100%;
//  }
//}
//
//@keyframes counter {
//  from {
//    left: -25px;
//  }
//  to {
//    left: 323px;
//  }
//}
//@-moz-keyframes counter {
//  from {
//    left: -25px;
//  }
//  to {
//    left: 323px;
//  }
//}
//@-webkit-keyframes counter {
//  from {
//    left: -25px;
//  }
//  to {
//    left: 323px;
//  }
//}
//@-o-keyframes counter {
//  from {
//    left: -25px;
//  }
//  to {
//    left: 323px;
//  }
//}
//@keyframes loader {
//  from {
//    width: 0%;
//  }
//  to {
//    width: 100%;
//  }
//}
//.load-bar-inner {
//  height: 99%;
//  width: 0%;
//  border-radius: inherit;
//  position: relative;
//  background: #c2d7ac;
//
//  animation: loader 10s linear infinite;
//}
//

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

