@import "../common/common";

.common-back-title {
    margin-top: 23px;
    a:link,
    a:visited {
        display: inline-block;
        font-size: 12px;
        color: #CB171D;
        outline: 0;
        text-decoration: none;
        margin-right: 20px;
    }
    a:hover {
        text-decoration: underline;
        outline: 0;
    }
}
.course-scheduling-base {
    margin-top: 24px;
    .procedure {
        .gap {
            display: inline-block;
            letter-spacing: 10px;
            i {
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #D5D9DF;
                margin-left: 8px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                position: relative;
                top: -3px;
            }
            i:last-of-type {
                margin-right: 8px;
            }
        }
        a:link,
        a:visited,
        a:hover {
            display: inline-block;
            width: 122px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background: #CB171D;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            text-decoration: none;
            outline: 0;
            i {
                font-style: normal;
                position: relative;
                left: -6px;
                top: 1px;
            }
        }
        a.disabled {
            font-size: 14px;
            color: #B1B5BC;
            background: #fff;
            border: 1px solid #B1B5BC;
            border-radius: 4px;
            //cursor: not-allowed;
        }
    }
}
.rule-item-tab {
    list-style-type: none;
    margin-top: 44px;
    padding-bottom: 36px;
    margin-left: 0;
    border-bottom: 1px solid #d8d8d8;
    li {
        float: left;
        margin-right: 21px;
        a:link,
        a:visited,
        a:hover {
            padding-right: 20px;
            font-size: 14px;
            color: #9B9B9B;
            border-right: 1px solid #D8D8D8;
            text-decoration: none;
            outline: 0;
        }
    }
    li a.active {
        font-size: 14px;
        color: #CB171D;
    }
    li a:before {
        position: relative;
        top: 5px;
    }
    li:nth-child(1) a {
        position: relative;
        top: -2px;
    }
    li:nth-child(1) a:before {
        display: inline-block;
        width: 25px;
        height: 28px;
        margin-right: 9px;
        position: relative;
        top: 2px;
        content: '';
        background: url(../../img/icons/icon_no_course_unchecked.png) no-repeat;
    }
    li:nth-child(1) a.active:before {
        display: inline-block;
        width: 25px;
        height: 28px;
        margin-right: 9px;
        content: '';
        background: url(../../img/icons/icon_no_course_checked.png) no-repeat;
    }
    li:nth-child(2) a {
        position: relative;
        top: 2px;
    }
    li:nth-child(2) a:before {
        display: inline-block;
        width: 26px;
        height: 24px;
        margin-right: 9px;
        position: relative;
        top: 1px;
        content: '';
        background: url(../../img/icons/icon_noliantang_unchecked.png) no-repeat;
    }
    li:nth-child(2) a.active:before {
        display: inline-block;
        width: 26px;
        height: 24px;
        margin-right: 9px;
        content: '';
        background: url(../../img/icons/icon_noliantang_checked.png) no-repeat;
    }
    li:nth-child(3) a {
        position: relative;
        top: 10px;
    }
    li:nth-child(3) a:before {
        display: inline-block;
        width: 34px;
        height: 17px;
        margin-right: 9px;
        position: relative;
        top: 1px;
        content: '';
        background: url(../../img/icons/icon_heban_unchecked.png) no-repeat 0 0;
    }
    li:nth-child(3) a.active:before {
        display: inline-block;
        width: 34px;
        height: 17px;
        margin-right: 9px;
        content: '';
        background: url(../../img/icons/icon_heban_checked.png) no-repeat;
    }
    li:nth-child(4) a:before {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-right: 9px;
        position: relative;
        top: 4px;
        content: '';
        background: url(../../img/icons/icon_rule_unchecked.png) no-repeat 0 0;
    }
    li:nth-child(4) a.active:before {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin-right: 9px;
        position: relative;
        top: 4px;
        content: '';
        background: url(../../img/icons/icon_rule_checked.png) no-repeat;
    }
    li + li + li + li a {
        border-right: 0!important;
    }
}
.rule-content {
    .item-title {
        font-size: 16px;
        color: #4A4A4A;
        margin-top: 26px;
        font-weight: bold;
    }
    #no-course-time {
        width: 160px;
        height: 30px;
        margin-top: 12px;
        background: #FFFFFF;
        border: 1px solid #D5D9DF;
        border-radius: 4px;
    }
    .no-course-time {
        height: 295px;
        margin-top: 14px;
        .class-no-course {
            height: inherit;
            .class-items {
                display: inline-block;
                width: 197px;
                height: 100%;
                float: left;
                border: 1px solid #E0E3E8;
                .title {
                    height: 36px;
                    line-height: 36px;
                    padding-left: 14px;
                    font-size: 12px;
                    color: #4A4A4A;
                    background: #F2F4F6;
                    border-bottom: 1px solid #E0E3E8;
                }
                ul {
                    list-style-type: none;
                    margin-top: 12px;
                    height: 240px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    li {
                        margin-bottom: 15px;
                        position: relative;
                        padding-left: 25px;
                        a:link,
                        a:visited {
                            display: inline-block;
                            width: 100%;
                            font-size: 12px;
                            color: #4A4A4A;
                            text-decoration: none;
                            outline: 0;
                            padding-left: 15px;
                            position: relative;
                        }
                        a:hover {
                            font-size: 12px;
                            color: #CB171D;
                            text-decoration: none;
                            outline: 0;
                        }
                        a:before {
                            display: inline-block;
                            content: '';
                            width: 0;
                            height: 0;
                            position: absolute;
                            left: 15px;
                        }
                        a.active {
                            color: #CB171D;
                            text-decoration: none;
                            outline: 0;
                        }
                        a.active:before {
                            display: inline-block;
                            content: '';
                            width: 0;
                            height: 0;
                            border-top: 3.5px solid transparent;
                            border-left: 4px solid #CB171D;
                            border-bottom: 4px solid transparent;
                            position: absolute;
                            left: 5px;
                            top: 4px;
                        }
                    }
                }
                .class-no-array {
                    display: block;
                }
                .teacher-no-array {
                    display: none;
                    select {
                        width: 173px;
                        height: 24px;
                        margin: 10px 12px 14px;
                        background: #FFFFFF;
                        border: 1px solid #D5D9DF;
                        border-radius: 4px;
                    }
                    ul {
                        margin-top: 5px;
                    }
                }
                .course-no-array {
                    display: none;
                    ul {
                        margin-top: 14px;
                        height: 270px;
                    }
                }
            }
            .class-assign-time {
                display: inline-block;
                float: left;
                width: -webkit-calc(100% - 197px - 11px);
                width: -moz-calc(100% - 197px - 11px);
                width: calc(100% - 197px - 11px);
                height: 100%;
                margin-left: 11px;
                .no-assign-table {
                    margin-bottom: 50px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #E0E3E8;
                    thead {
                        background: #F2F4F6;
                        line-height: 36px;
                        tr {
                            th {
                                height: 36px;
                                text-align: center;
                                vertical-align: middle;
                                border-right: 1px solid #E0E3E8;
                                border-bottom: 1px solid #E0E3E8;
                            }
                        }
                    }
                    tbody {
                        line-height: 36px;
                        tr {
                            td {
                                height: 36px;
                                text-align: center;
                                vertical-align: middle;
                                border-bottom: 1px solid #E0E3E8;
                            }
                            td:not(.order) {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    #link-subjects {
        display: none;
    }
    .proceed-course-table, .class-mixed-table, .base-rule-table {
        width: 100%;
        margin-top: 15px;
        thead {
            background: #F2F4F6;
            line-height: 36px;
            tr {
                th {
                    text-align: center;
                    vertical-align: middle;
                    border-bottom: 1px solid #E7EAEE;
                    border-right: 1px solid #E7EAEE;
                }
                th:first-of-type {
                    border-left: 1px solid #E7EAEE;
                }
            }
        }
        tbody {
            line-height: 36px;
            tr {
                td {
                    text-align: center;
                    vertical-align: middle;
                    border-bottom: 1px solid #E7EAEE;
                }
            }
        }
    }
    .class-mixed-table {
        margin-bottom: 100px;
        a:link,
        a:visited {
            font-size: 12px;
            color: #CB171D;
            text-decoration: none;
            outline: 0;
        }
        a:hover {
            text-decoration: underline;
            outline: 0;
        }
    }
    .course-no-proceed-list, .choose-class-list {
        list-style-type: none;
        margin-top: 15px;
        li {
            float: left;
            font-size: 14px;
            margin-right: 40px;
            color: #4A4A4A;
            input[type='checkbox'] {
                margin-right: 10px;
                position: relative;
                top: -4px;
            }
            label {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
    .course-no-proceed-list:after, .choose-class-list:after {
        content: " ";
        display: table;
        clear: both;
    }
    .choose-class-list {
        margin-left: 0;
    }
    .choose-class {
        margin-top: 24px;
        .title {
            font-size: 14px;
            color: #4A4A4A;
        }
    }

    .conflict-tips {
        font-size: 12px;
        color: #CB171D;
        margin-top: 30px;
        text-align: center;
    }
    .btn-save-rule, .btn-save-rule:focus,
    .btn-teaching-plan, .btn-teaching-plan:focus,
    .btn-week-save, .btn-week-save:focus,
    .btn-day-save, .btn-day-save:focus,
    .btn-base-rule-save, .btn-base-rule-save:focus {
        display: block;
        width: 104px;
        height: 36px;
        margin: 40px auto 0 auto;
        background: #fff;
        border: 1px solid #CB171D;
        border-radius: 2px;
        font-size: 14px;
        color: #CB171D;
        outline: 0;
    }
    .btn-save-rule:hover,
    .btn-teaching-plan:hover,
    .btn-week-save:hover,
    .btn-day-save:hover,
    .btn-base-rule-save:hover {
        background: #CB171D;
        color: #fff;
        outline: 0;
    }
    .mixed-class-btn, .mixed-class-btn:focus {
        width: 84px;
        height: 26px;
        margin: 16px auto 0 auto;
        background: #fff;
        border: 1px solid #CB171D;
        border-radius: 2px;
        font-size: 14px;
        color: #CB171D;
        outline: 0;
    }
    .mixed-class-btn:hover {
        background: #CB171D;
        color: #fff;
        outline: 0;
    }
    .mixed-class-tips {
        font-size: 14px;
        color: #4A4A4A;
        margin-top: 23px;
    }
    .tips-procedure {
        .procedure-item {
            display: inline-block;
            margin-right: 29px;
            .order {
                display: inline-block;
                width: 16px;
                height: 16px;
                text-align: center;
                line-height: 18px;
                color: #fff;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                background: #CB171D;
                margin-top: 22px;
                margin-right: 6px;
            }
        }
    }
    .choose-course {
        font-size: 14px;
        color: #4A4A4A;
        margin-top: 17px;
        .course-select {
            width: 160px;
            height: 30px;
            background: #FFFFFF;
            border: 1px solid #D5D9DF;
            border-radius: 4px;
        }
    }
    .base-rule-tab {
        ul {
            list-style-type: none;
            margin-top: 12px;
            li {
                margin: 16px 36px 15px 0;
                position: relative;
                float: left;
                a:link,
                a:visited {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    color: #4A4A4A;
                    text-decoration: none;
                    outline: 0;
                    padding-left: 20px;
                    position: relative;
                }
                a:hover {
                    font-size: 14px;
                    color: #CB171D;
                    text-decoration: none;
                    outline: 0;
                }
                a:before {
                    display: inline-block;
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: 5px;
                }
                a.active {
                    color: #CB171D;
                    text-decoration: none;
                    outline: 0;
                }
                a.active:before {
                    display: inline-block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 4px solid transparent;
                    border-left: 6px solid #CB171D;
                    border-bottom: 6px solid transparent;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
        }
        ul:after {
            display: table;
            content: '';
            clear: both;
        }
    }
    .base-rule-content {
        select {
            width: 160px;
            height: 30px;
            background: #FFFFFF;
            border: 1px solid #D5D9DF;
            border-radius: 4px;
        }
        .rule-tips {
            font-size: 12px;
            color: #9B9B9B;
        }
    }
    .base-rule-content-none {
        display: none;
    }
    .base-rule-table {
        td {
            .rule-radio, .rule-radio1 {
                float: left;
                margin-right: 60px;
                label {
                    font-size: 12px;
                    color: #4A4A4A;
                    position: relative;
                    top: 2px;
                }
            }
            .rule-radio:first-of-type {
                margin-left: 30px;
            }
            .rule-radio:last-of-type {
                margin-right: 0;
            }
            .rule-radio1 {
                margin-right: 40px;
            }
            .rule-radio1:first-of-type {
                margin-left: 0;
            }
        }
    }
}
.rule-content-none {
    display: none;
}

.cList{
    min-width: 110px;
}
.baseRuleContent{
    .rule-tips{
        margin-top: 10px;
        display: block;
        margin-left: 0!important;
    }
}

.no-assign-course {
    color: #CB171D;
}
.disabled-grade{
    background: #f2f4f6;
    color: #cccccc;
}
.assign-course {
    color: #393939;
}
