@import "../common/common";

#page-container {
  $parentMargin: 100px auto;
  .btn-one-key {
    margin: $parentMargin;
    width: 170px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
    color: #cb171d;
    border: 1px solid #cb171d;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    transition: all .3s ease-out;
    &:hover {
      background: $mainColor;
      color: #fff;
    }
  }
  .info-modify {
    text-align: center;
    margin: $parentMargin;
    .retry-scheduling, .look-origin-schedule {
      width: 100px;
      height: 34px;
      border-radius: 2px;
      text-align: center;
      line-height: 34px;
      float: left;
      cursor: pointer;
      transition: all .3s ease-out;
    }
    .retry-scheduling {
      margin-left: 395px;
      margin-right: 29px;
      color: $mainColor;
      border: 1px solid $mainColor;
      &:hover {
        background: $mainColor;
        color: #fff;
      }
    }
    .look-origin-schedule {
      color: #F6A623;
      border: 1px solid #F6A623;
      &:hover {
        background: #F6A623;
        color: #fff;
      }
    }

  }
  .scheduling-error {
    margin: $parentMargin;
    text-align: center;
  }
}

#role-scheduling {
  .role-tab {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    li {
      float: left;
      &:before{
        margin: 0 10px;
        content: '|';
        display: block;
        color: #ccc;
        float: left;
      }
    }
    .no-before{
      &:before{
        margin: 0;
        content: '';
        display: block;
        float: left;
      }
    }
  }
}

