@import "../common/common";

.title-2{
  .grade-list{
      li{
        float: left;
        margin-right: 25px;
        margin-left: 3px;
        label{
          position: relative;
          top: 3px;
        }
      }
  }
}

.student-add-box {
  padding: 35px 30px;
  .f50, .f70, .f20 {
    width: 50%;
    float: left;
    display: block;
  }
  .f70 {
    width: 83%;
  }
  .f20 {
    width: 15%;
  }
  select {
    width: 110px;
  }
  li {
    margin-bottom: 15px;
    span {
      margin-right: 6px;
      display: inline-block;
      min-width: 100px;
    }
  }
  .subject-list {
    label{
      margin-right: 10px;
      margin-bottom: 15px;
      .lbl{
        &:before{
          margin-right: 6px;
        }
      }
    }
  }
  .input-common-w{
    width: 300px;
  }
  .sex-type{
    margin-bottom: 10px;
    label{
      margin-right: 20px;
      .lbl{
        &:before{
          margin-right: 5px;
        }
      }
    }
  }
}


.opt-btn-box{
  .save-btn{
    margin-left: 106px;
    margin-right: 45px;
  }
}



//选择添加字段
#sub-choose-field{
  padding: 20px 30px;
  label{
    margin-right: 20px;
    width: 132px;
  }
  .btn-info{
    //margin-top: 15px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top:18px;
  }
  .lbl{
    &:before{
      margin-right: 8px;
    }
  }
}


//上传layer
.upload-box {
  padding-top: 40px;
  padding-left: 50px;
}
a.download-link:link,
a.download-link:visited,
a.download-link:hover {
  display: block;
  margin-top: 25px;
  color: #CB171D;
  text-decoration: underline;
  outline: 0;
}
#cancel-download-btn {
  margin-top: 50px;
  border: 1px solid #CB171D !important;
  border-radius: 2px;
  color: #CB171D !important;
  outline: 0;
  background-color: #fff !important;
}


//初始化弹层
.init-page-layer{
  padding: 30px;
  width: 360px;
  #init-btn{
    width: 120px;
    position: relative;
    margin-left: -60px;
    left: 50%;
    outline: none;
  }
}