.grade-layer{
  padding: 28px 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.btn {
    outline: 0!important;
    border: 0!important;
}
ul, li, span, div {
  padding: 0;
  margin: 0;
}
.btn-red, .btn-red:hover, .btn-red:focus {
  background: #CB171D!important;
  border-radius: 2px;
  color: #fff;
  outline: 0;
  font-size: 14px;
}
.btn-cancel, .btn-cancel:hover, .btn-cancel:focus {
  border: 1px solid #CB171D!important;
  border-radius: 2px;
  color: #CB171D!important;
  outline: 0;
  background-color: #fff!important;
}
.add-class-box {
    padding: 30px 0 33px 23px;
    .rate-input, .rate-input:focus {
        width: 220px;
    }
}
.add-year-box {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 25px 0 23px 23px;
    font-size: 13px;
    color: #4A4A4A;
    ul {
        line-height: 22px;
    }
    .year-title {
        font-size: 13px;
        letter-spacing: 8.89px;
    }
    .year-title + select {
        position: relative;
        left: -10px;
    }
    .rate-input, .rate-input:focus {
        width: 220px!important;
    }
}
.add-class-box ul {
  list-style-type: none;
  width: 100%;
  line-height: 50px;
}
.add-class-box ul li {
    font-size: 13px;
    color: #4A4A4A;
    position: relative;
}
.add-class-box ul li span {
  margin-right: 16px;
}
.add-class-box ul li .three-word {
  letter-spacing: 6px;
}
.add-class-box ul li .class-teache {
  position: relative;
  left: -5px;
}
.add-class-box ul li input[type='text'], .add-class-box ul li input[type='text']:focus {
  width: 248px;
  height: 26px;
  background: #FFFFFF;
  border: 1px solid #D5D9DF;
  border-radius: 2px!important;
}
.add-class-box ul li input[type='radio'], .add-class-box ul li input[type='radio']:focus {
    position: relative;
    left: -20px;
    background: #FFFFFF;
    border: 1px solid #D5D9DF;
    border-radius: 2px!important;
}
.add-class-box ul li input[type='radio'] + label {
    position: relative;
    left: -15px;
    top: 2px;
    margin-right: 40px;
}
#teacher_major_type {
    list-style-type: none;
    display: inline-block;
    width: 250px;
    height: 80px;
    line-height: 2.0em;
    position: absolute;
    left: 49px;
    top: 8px;
    margin-bottom: 30px;
    li {
        float: left;
        margin-right: 18px;
        label {
            position: relative;
            top: 2px;
            left: 5px;
        }
    }
}
.add-class-box ul li select, .add-class-box ul li select:focus {
  width: 90px;
  height: 26px;
  background: #FFFFFF;
  border: 1px solid #D5D9DF;
  border-radius: 2px;
  outline: 0;
}
.add-class-box ul li .opt-btn-box {
  text-align: center;
}
.add-class-box ul li .opt-btn-box button:first-of-type {
  margin-right: 20px;
}
.add-class-box ul li .opt-btn-box button:last-of-type {
  margin-left: 20px;
}
.upload-box {
    padding-top: 40px;
    padding-left: 50px;
}
a.download-link:link,
a.download-link:visited,
a.download-link:hover {
    display: block;
    margin-top: 25px;
    color: #CB171D;
    text-decoration: underline;
    outline: 0;
}
#cancel-download-btn {
    margin-top: 50px;
}