.main-content {
    padding: 0;
    margin: 0;
    height: 482px;
    background-color: #fff;
}
.opt-btn, .opt-btn:hover, .opt-btn:focus {
    outline: 0;
}
.btns {
    margin-bottom: 20px;
}
a.remove-link:link,
a.remove-link:visited,
a.remove-link:hover {
    font-size: 14px;
    color: #CB171D;
    text-decoration: underline;
    outline: 0;
}
.teacher-settings-box {
    padding: 20px 0 20px 20px;
    position: relative;
    ul {
        list-style-type: none;
        li {
            float: left;
            margin-right: 55px;
            margin-bottom: 11px;
            font-size: 14px;
            color: #4A4A4A;
            input[type='checkbox'] {
                background: #FFFFFF;
                border: 1px solid #E0E3E8;
                box-shadow: inset 0px 1px 1px 0px rgba(60,62,64,0.50);
                border-radius: 2px;
            }
            label {
                position: relative;
                top: 2px;
                left: 9px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
    .opt-bottom {
        clear: both;
        margin-top: 80px;
        text-align: center;
        a.opt-btn:link,
        a.opt-btn:visited,
        a.opt-btn:hover {
            display: inline-block;
            width: 84px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            text-decoration: none;
            outline: 0;
            border-radius: 2px;
        }
        .choose-btn {
            background: #CB171D;
            color: #fff;
            margin-right: 26px;
        }
        .cancel-btn {
            border: 1px solid #CB171D;
            font-size: 14px;
            color: #CB171D;
            position: relative;
            top: 2px;
            margin-left: 26px;
        }
    }
}