body{
  background: #fcfcfc;
}
.logo {
  margin:91px 0 72px;
  img {
    width: 207px;
    height: 68px;
    margin: 0 auto;
    display: block;
  }
}
.login-main{
  width:516px;
  height:312px;
  margin:0 auto 220px;
  background: #FFFFFF;
  border: 1px solid #E7EAEE;
  box-shadow: 0px 6px 16px 0px #F0F0F0;
  border-radius: 4px;
  strong.t{
    font-size:20px;
    color: #4A4A4A;
    margin:35px 0 29px;
    text-align: center;
    font-weight: normal;
    display: block;
  }
  #user-name,
  #password{
    background: #FCFCFC;
    border: 1px solid #E4E4E4;
    border-radius: 2px!important;
    width:380px;
    height:38px;
    margin:0 auto 0 68px;
    font-size:15px;
    padding: 0 10px;
  }

  .forgot-password{
    width:380px;
    height:38px;
    margin-left:68px;
    text-align: right;
  }
  .login-btn{
    background: #D70C18;
    border-radius: 4px;
    width:167px;
    height:38px;
    color: #fff;
    font-size:16px;
    border:none;
    display: block;
    margin:0 auto;
  }
}
